{{page-title "About"}}
<h1 class="text-3xl font-bold mb-2">
  About me
</h1>
<p>Driven by a passion for entrepreneurship since the age of 17, I am a
  28-year-old husband and father, based in Spain. My career, predominantly as a
  front-end developer, showcases a deep commitment to leveraging my skills in
  React.js, Typescript and other modern technologies to create user-friendly and
  efficient interfaces with 10 years of self-learning experiences under my belt.
  I also speak three languages: French natively, Spanish fluently and English
  professionaly. Currently employed at Purse and with a valuable stint at
  Upstreampay, my focus is not just on coding but on learning and growing with
  each project. I am always eager to embrace new challenges, and I am committed
  to using my knowledge to help others and push the limits of web technology,
  all while maintaining a human-centered approach in my work.
</p>

{{outlet}}