{{page-title "Hugo Fontvieille - Front-end Developer"}}

<div class="flex flex-col gap-2 max-w-[512px]">
  <h1 class="text-3xl font-bold">
    Hugo Fontvieille
  </h1>
  <h2 class="text-xl">
    Front-end developer / Entrepreneur
  </h2>
  <p>Currently, I am a front-end developer at Purse, where I bring approximately
    10 years of experience in the web and strong sensitivity in terms of UI/UX
    Design.
  </p>
</div>

{{outlet}}